# Ignore all dotfiles...
.*
# except for .gitignore and .gitkeep
!.gitignore
!.gitkeep

# Ignore Play! working directory files
/tmp
/modules
/lib
/dist
/test-result
/logs
/precompiled
/javadoc
/rythm
/play
/vagrant
/httpRequests
/backups
/reports
/build
/dataSources
/bin/glowroot/data
/bin/glowroot/logs
/bin/glowroot/tmp
/bin/glowroot/*.json
/data/jmeter/output
/data/jmeter/summary.*
/bin/dependency-check/data
.DS_Store
*.iws
*.iml
*.ipr
*.jfr
*.hprof
atlassian*.xml
*.bak
.project
.vagrant
.settings
eclipse
nbproject
*.pid
cobertura.ser
jacoco.exec
jacoco.xml
dependency-check-report.html
jmeter.log
/conf/license
/conf/*.der
.sonar/
/public/javascripts/press