#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.title') /}

<div id="crudBlank" class="upload">

    <h2>Import Excel</h2>

    <div class="objectForm">
    #{form action:@Application.importFile(file), enctype:'multipart/form-data'}
        <label for="file">Choose excel to import:</label>
        <input type="file" id="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.upload'}" />
        </p>
    #{/form}

    #{if errors != null && !errors.isEmpty()}
        <table>
            <thead>
            <tr>
                <th>Row</th>
                <th>Error</th>
            </tr>
            </thead>
            <tbody>
                #{list items:errors, as:'error'}
                    <tr>
                        <td>
                            ${error.getKey()}
                        </td>
                        <td>
                            ${error.toString()}
                        </td>
                    </tr>
                #{/list}
            </tbody>
        </table>
    #{/if}
    </div>

</div>
